* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 50%;
  margin: 0.5rem auto;
  display: flex;
  justify-content: space-between;
  h1 {
    text-align: center;
  }
  button {
    padding: 0.5rem 0.8rem;
    background-color: lightseagreen;
    color: #ffffff;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;

  .gridItem {
    border: 1px solid #ececec;
    background-color: mintcream;

    &:hover {
      background-color: lightseagreen;
    }
  }
}
